h1, h2, h3, h4, h5, h6{
	font-family: 'Bambino W00',Arial, Helvetica, Sans-Serif;
	font-weight: 700;
	font-style: bold;
}

h1{
	font-size: 58px;
}

h3{
	font-size: 40px;
}

h4{
	font-size: 30px;
}

body{ 
	padding-top: 70px; 
}

p, div{
	font-family: 'Bambino W00',Arial, Helvetica, Sans-Serif;
	font-weight: 400;
	font-style: normal;
	font-size: 21px;
}

.vertical-pad{
	padding-top: 50px;
}